*~
.*.swp
*.pyo
*.pyc
*.blend1
*.blend2
.*
eclipse/
DeSrg/fields.csv
DeSrg/methods.csv
build/
fzversion
-i
last_fz
src/main/java/codechicken/
build.log
bin/
factorization.iml
factorization.ipr
factorization.irs
factorization.iws
out/
protips/
other/
DeSrg/
at.cfg

# #Symlinked directories
# lang
# fzsrc
# textures
