#NOTE: Run the 'clean' task after changing this!


#Entity.invulnerable
#Used for diamond shards.
public net.minecraft.entity.Entity field_83001_bt

#net.minecraft.client.Minecraft.timer
#Used for implementing Time Dilation.
public net.minecraft.client.Minecraft field_71428_T

#net.minecraft.client.renderer.Tessellator.instance
#Needs to be changeable for glintless item rendering, and wireframe rendering, and exporting terrain to .obj
public-f net.minecraft.client.renderer.Tessellator field_78398_a
#Basically everything in Tessellator is private, making derived classes unusable.
protected net.minecraft.client.renderer.Tessellator *
protected net.minecraft.client.renderer.Tessellator *()

#net.minecraft.server.management.PlayerManager.PlayerInstance
#net.minecraft.server.management.PlayerManager.getOrCreateChunkWatcher(int, int, boolean)
#Needed for sending packets to players watching the chunk.
public net.minecraft.server.management.PlayerManager$PlayerInstance
public net.minecraft.server.management.PlayerManager func_72690_a(IIZ)Lmanagement/PlayerManager$PlayerInstance;

#net.minecraft.client.gui.inventory.GuiContainer.getSlotAtPosition(int, int)
#Needed for not re-implementing via copy&paste
public net.minecraft.client.gui.inventory.GuiContainer func_146975_c(II)Lnet/minecraft/inventory/Slot;

#net.minecraft.entity.EntityLivingBase.recentlyHit
#Needed to make entities drop XP when killed by the lacerator.
public net.minecraft.entity.EntityLivingBase field_70718_bc

#net.minecraft.client.renderer.RenderGlobal.sortedWorldRenderers
#Used by the MiscClientCommands to muck with rendering in various ways
public net.minecraft.client.renderer.RenderGlobal field_72768_k

#net.minecraft.client.gui.GuiScreen.buttonList
#Used to fix the Super Secret Settings button
public net.minecraft.client.gui.GuiScreen field_146292_n



#
# This begins the FZDS section. FZDS needs to be able to swap out many unique and unusual fields.
# It's doing crazy stuff.
# No further justifications shall be given.  :P
# Whatever your reason for being here is, this stuff is Special and should be ignored.
#

public net.minecraft.client.render.EntityRenderer field_78528_u


public net.minecraft.client.multiplayer.PlayerControllerMP *


public net.minecraft.client.renderer.RenderGlobal field_72769_h
public net.minecraft.client.network.NetHandlerPlayClient field_147300_g


